<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Start date:</b>
  <%= @project.start_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>End date:</b>
  <%= @project.end_date.strftime("%m/%d/%Y") %>
</p>

<p>
  <b>Creator:</b>
  <%= @project.creator.first_name %> <%= @project.creator.last_name %>
</p>

<p>
  <b>Manager:</b>
  <%= @project.manager.first_name %> <%= @project.manager.last_name %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<h2>Tasks</h2>

<% @tasks.each do |task| %>
  <li>
    <%= task.name %>    
  </li>

<% end %>

<%= @sub %>




<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
