<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

      <ul>
      <% @permission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :can_view %><br />
    <%= f.check_box :can_view %>
  </div>
  <div class="field">
    <%= f.label :can_edit %><br />
    <%= f.check_box :can_edit %>
  </div>
  <div class="field">
    <%= f.label :can_record %><br />
    <%= f.check_box :can_record %>
  </div>
  <div class="field">
    <%= f.label :can_delete %><br />
    <%= f.check_box :can_delete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
